/*!CK:2534612239!*//*1445833879,*/

.sp_HMyWq8GW8LG{background-image:url(/rsrc.php/v2/yw/r/bKn3hJUN3PZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:28px;width:28px}.sp_HMyWq8GW8LG.sx_7dd1f8{width:7px;height:7px;background-position:0 -58px}.sp_HMyWq8GW8LG.sx_4ff2f7{background-position:0 0}.sp_HMyWq8GW8LG.sx_ea0aa0{background-position:0 -29px}

#bootloader_HArXD { height: 42px; }
.bootloader_HArXD { display:block !important; }