<script type="text/html">
<form class="forgotten-form">
<h4 class="text-center">Forgotten your password?</h4>
    Enter your email address and we'll send you a link to reset your password
<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control name" placeholder="Email">
   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-email"></span>
                    </span>
    </div>
</div>
<div class="error"></div>
<button class="btn btn-darkblue forgotten-submit">Send</button>
</form>
</script>