<script type="text/html">
    <form class="login-form">
        <h4 class="text-center">Customer login:</h4>
        <strong>Email:</strong><br/>

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control email" placeholder="Email" >
   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
            </div>
        </div>
        <strong>Password:</strong><br/>

        <div class="form-group">
            <input type="password" class="form-control pass">
        </div>
        <div class="error"></div>
        <button class="btn btn-darkblue login-submit">Login</button>
    </form>

</script>