<script type="text/html">
    <form class="login-form">
        <div class="text-center">
            <strong>Log in via facebook profile:</strong>
        </div>
        <div class="copy_fb_button text-center">

        </div>
        <div class="login-or">
            <span>or</span>
        </div>
        <div class="auth-native-form">
            <img class="" src="/assets/img/rentcar.png"/>
            Email:<br/>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control email" placeholder="Email">
   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                </div>
            </div>
            Password:<br/>

            <div class="form-group">
                <input type="password" class="form-control pass">
            </div>
            <div class="error"></div>
            <button class="btn btn-success login-submit">Log In</button>
            <a href="#" class="pull-right forgotten-link">Forgotten your password?</a>
            <a href="#" class="pull-right register-f">Register </a>
        </div>

    </form>

</script>