<script type="text/html">
    <form class="register-form">
        <h4 class="text-center">Customer registration:</h4>
        <strong>Email:</strong><br/>

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email">
   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
            </div>
        </div>
        <strong>Phone number:</strong><br/>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="+7 921 111-11-11">
   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-phone"></span>
                    </span>
            </div>
        </div>

        <strong>Create your password:</strong><br/>

        <div class="form-group">
            <input type="password" class="form-control">
        </div>
        <strong>Confirm password:</strong><br/>

        <div class="form-group">
            <input type="password" class="form-control">
        </div>
        <button class="btn btn-darkblue">Sign in</button>
    </form>

</script>