body {
 // background: #f9f9f9;
  .fb-indent {
    position: absolute;
    top: -50px;
    // margin-top:-43px;
  }
}

.nobile {
  //  font-family: Nobile;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('/assets/img/fancybox_sprite2.png');
}

.text-gray {
  color: gray;
}

.login-form {
  h4 {
    background: #077fcc;
    padding: 10px;
    color: white;
  }
  .button-fb {
    margin-top: 10px;
  }
  .login-or {
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 30px;
    span {
      position: relative;
      top: -13px;
      padding: 0 10px;
      background: #FFF;
      font-style: normal;
    }
  }
  .register-f {
    margin-top: -10px;
  }
  max-width: 300px;
  padding: 20px;
  background: white;
  line-height: 2;
}

.forgotten-form {
  h4 {
    background: #077fcc;
    padding: 10px;
    color: white;
  }
  max-width: 360px;
  padding: 20px;
  background: white;
  line-height: 2;
}

.register-form {
  h4 {
    background: #077fcc;
    padding: 10px;
    color: white;
  }
  max-width: 360px;
  padding: 20px;
  background: white;
  line-height: 2;
}

.header-main-nav {

  margin-top: 45px;
}

.currency-icons {
  font-size: 11px;
}

.search-panel {
  background: #2E8BAE;
  box-shadow: -1px 3px 5px #1c6485;
  padding: 10px 0;
  .headers {
    color: white;
  }
  .advanced-link {
    color: white;
  }
  .submit {
    .glyphicon {
      vertical-align: -1px;
    }
  }

}

.search-panel-container {
  width: 100%;
  z-index: 2;
  top: 0;

}

.currency-help {
  position: absolute;
  top: 23px;
  font-size: 12px;
  color: gray;
}

.advanced_search {
  color: white;
  display: none;
  input[type=number] {

  }
}

#content {
  h1 {
    font-size:16pt;
  }
  h2 {
    font-size:14pt
  }
  h3 {
    font-size:12pt;
  }
  margin-top: 15px;
  .image-hello {
    width: 87px;
    position: absolute;
    margin-left: -259px;
    margin-top: -27px;
  }
  .car-container {
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 35px;
  }
  .car-item {
    position: relative;
    curspor: pointer;

    border: 1px solid #bce8f1;
    box-shadow: -1px 3px 10px #1c6485;

    &:hover {
      box-shadow: -1px 3px 20px #1c6485;
    }
    .ratio {
      color: rgba(255, 255, 0, 1);
      position: absolute;
      right: 0px;
      top: 0px;
      background: rgba(255, 255, 255, 0.6);
      padding: 2px;
      &.blue {
        color: #077fcc
      }
    }
    .image-container {
      background: rgba(0, 0, 0, 0.6);
      min-height: 170px;
      .image {
        box-shadow: -1px 5px 10px rgba(255, 255, 255, 0.1);

      }
    }

    .desc {
      padding-left: 10px;
      padding-right: 10px;
    }
    .props {
      height: 85px;
      padding: 7px;
      font-size: 12px;
    }
    .price {

      &.blue {
        background: #077fcc;
      }
      background: orange;
      color: white;
      padding: 8px;
      font-size: 16px;
      position: absolute;
      bottom: 0px;
      right: 0px;

    }
  }
  // переопределить стили иконок фоторамы
  .fotorama__thumb-border {
    border-color: #1c6485;
  }
  .fotorama__thumb-border:after {
    content: '';
    display: block;
    position: absolute;
    top: -12px;
    left: 50%;
    width: 1px;
    height: 1px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-bottom-color: #1c6485;
    margin-left: -3px;
  }
  .confirmation_price {
    .glyphicon {
      font-size: 12px;

    }
    font-weight: 700;
    font-size: 20px;
  }
  .confirmation-order-header {
    background: #077fcc;
    color: white;
    font-size: 14px;
    padding: 10px;

  }
  .add_options {

    td {
      line-height: 2.4;
      label {
        font-weight:100 !important;
      }
    }
  }
  .invoice_details {
    .item {
      line-height:2.2;

    }
  }
  .order-totalPrice {
    background: #ddd;
    padding: 10px;
  }
  .payment_variants .thumbnail {
    height: 157px;
    .paypal {
      margin-top: 24px;
    }
    &.cache {
      vertical-align: middle;
      text-align: center;
      padding: 33px;
      color: gray;
    }
    img {
      max-width: 267px;
    }
  }
  .privacy {
    background: white;

  }
}

#footer {
  background: white;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 12px;
  .payment_logos img {
    width: 130px;
  }
}
