<script type="text/html">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#/about">/ About</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="col-md-24">
            <div class="privacy">
                <h1>About us</h1>
                RentCar.Cbay.com.cy is one the projects by A&K CyBay Enterprises Ltd.<br/> Click <a href="https://cbay.com.cy/about?lang=en" target="_blank">here</a> to see more.
            </div>
        </div>
    </div>
</div>

</script>