<script type="text/html">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#catalog/12">Cars | Skoda RAPID, 1.6MPI</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-24">
                <H1>Skoda RAPID, 1.6MPI</H1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="fotorama" data-nav="thumbs">
                    <img src="/assets/img/test_cars/sr.jpg"/>
                    <img src="/assets/img/test_cars/sr_2.jpg"/>
                    <img src="/assets/img/test_cars/sr_3.jpg"/>
                    <img src="/assets/img/test_cars/sr.jpg"/>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <tr>
                        <td><span class="glyphicon glyphicon-cd"></span> Transmission:</td>
                        <td>Automat (Variator)</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-fire"></span> Gaz type:</td>
                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-user"></span> Passengers:</td>
                        <td>Up to 5 passengers
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-scale"></span> Power:</td>
                        <td>107 h.p
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-asterisk"></span> Climat (AC):</td>
                        <td>Yes
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-unchecked"></span> Color:</td>
                        <td>Silver
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-facetime-video"></span> DVR (with the ability to save):
                        </td>
                        <td>Available
                        </td>
                    </tr>
                </table>
                <br/>

                <div class="confirmation-order-header">Confirmation order:</div>
                <table class="table table-stripped">
                    <tr>
                        <td>Start:</td>
                        <td>Paphos, 24.04.16 10:30</td>
                    </tr>
                    <tr>
                        <td>End:</td>
                        <td>Paphos, 25.04.16 20:30</td>
                    </tr>
                    <tr>
                        <td>Days:</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><h4>Price:</h4></td>
                        <td>
                            <div class="confirmation_price text-right nobile"><span
                                    class="glyphicon glyphicon-euro"></span> 1099
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="text-right">
                                <i class="text-gray"><span class="glyphicon glyphicon-info-sign"></span>
                                    There is also a deposit payment: €990
                                </i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                            <div class="pull-right">
                                <button type="button" class="btn btn-success"><span>Book this car</span> <span
                                        class="glyphicon glyphicon-menu-right"></span>
                                </button>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</script>