<script type="text/html">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#/catalog/<%=car.id%>"><%=car.name%></a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-24">
                <H1><%=car.name%></H1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="fotorama" data-nav="thumbs">
                    <% for(var i = 0; i < car.images.length; i++) { %>
                    <img src="<%=car.images[i].src%>"/>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <tr>
                        <td><span class="glyphicon glyphicon-cd"></span> Transmission:</td>
                        <td>Automat (Variator)</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-fire"></span> Gaz type:</td>
                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-user"></span> Passengers:</td>
                        <td>Up to 5 passengers
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-scale"></span> Power:</td>
                        <td>107 h.p
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-asterisk"></span> Climat (AC):</td>
                        <td>Yes
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-unchecked"></span> Color:</td>
                        <td>Silver
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-facetime-video"></span> DVR (with the ability to save):
                        </td>
                        <td>Available
                        </td>
                    </tr>
                </table>
                <br/>

                <div class="confirmation-order-header">Confirmation order:</div>
                <table class="table table-stripped">
                    <tr>
                        <td>Start:</td>
                        <td>Paphos, <%=startDate%></td>
                    </tr>
                    <tr>
                        <td>End:</td>
                        <td>Paphos, <%=endDate%></td>
                    </tr>
                    <tr>
                        <td>Days:</td>
                        <td><%=days()%></td>
                    </tr>
                    <tr>
                        <td><h4>Price:</h4></td>
                        <td>
                            <div class="confirmation_price text-right nobile"><span
                                    class="glyphicon glyphicon-euro"></span> <%=price()%>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="text-right">
                                <i class="text-gray"><span class="glyphicon glyphicon-info-sign"></span>
                                    There is also a deposit payment: €990
                                </i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                            <div class="pull-right">
                                <a href="#catalog/<%=car.id%>/confirmation"><button type="button" class="btn btn-success continue_book"><span>Book this car</span> <span
                                        class="glyphicon glyphicon-menu-right"></span>
                                </button></a>

                            </div>
                            <div class="clearfix"></div><Br/>
                            <div class="error"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</script>