<script type="text/html">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="panel panel-info">
<div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> Popular cars</h3>
</div>
<div class="panel-body">
<div class="row">
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="center-block image img-responsive"
                     src="/assets/img/test_cars/bmv_x5.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">BMW X5</h4>

                <p class="desc">This car have been everything completely.. When you going to
                    choose a car.</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right">
                From <span class="nobile">650</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>
<!------>
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="image center-block img-responsive"
                     src="/assets/img/test_cars/bmv_320.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">BMW A320</h4>

                <p class="desc">This car have been everything completely.. When you going to
                    choose a car.</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right">
                From <span class="nobile">1050</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>
<!------->
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio blue">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="image center-block img-responsive"
                     src="/assets/img/test_cars/sr.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">Skoda RAPID, 1.6MPI</h4>

                <p class="desc">This car is very economical. Extremely easy to operate</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right blue">
                From <span class="nobile">450</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>

<!------->
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio blue">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="image center-block img-responsive"
                     src="/assets/img/test_cars/logan.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">Renaut LOGAN</h4>

                <p class="desc">This car is very economical. Extremely easy to operate</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right blue">
                From <span class="nobile">250</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>


<!--=================================================== Comfortable -->
<div class="row">
<div class="col-md-12">
<div class="panel panel-warning">
<div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> Comfortable cars</h3>
</div>
<div class="panel-body">
<div class="row">
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio blue">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="image center-block img-responsive"
                     src="/assets/img/test_cars/cooper.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">Mini COOPER 1.5</h4>

                <p class="desc">This car is very economical. Extremely easy to operate</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right blue">
                From <span class="nobile">250</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>
<!------>
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="center-block image img-responsive"
                     src="/assets/img/test_cars/bmv_x5.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">BMW X5</h4>

                <p class="desc">This car have been everything completely.. When you going to
                    choose a car.</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right">
                From <span class="nobile">650</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>
<!------>
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="image center-block img-responsive"
                     src="/assets/img/test_cars/bmv_320.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">BMW A320</h4>

                <p class="desc">This car have been everything completely.. When you going to
                    choose a car.</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right">
                From <span class="nobile">1050</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>
<!------->
<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio blue">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <img class="image center-block img-responsive"
                     src="/assets/img/test_cars/sr.jpg"/>
            </div>
            <div class="text">
                <h4 class="text-center">Skoda RAPID, 1.6MPI</h4>

                <p class="desc">This car is very economical. Extremely easy to operate</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right blue">
                From <span class="nobile">450</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
</div>
</div>


<!--=================================================== Budget cars -->

<div class="row">
<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> Budget cars</h3>
</div>
<div class="panel-body">
<div class="row">



<div class="col-md-3 col-sm-6">
    <div class="car-container">
        <div class="car-item">
            <div class="ratio blue">
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
                <span class="glyphicon glyphicon-star"></span>&nbsp;
            </div>
            <div class="image-container">
                <a href="/#catalog/12"><img class="image center-block img-responsive"
                     src="/assets/img/test_cars/sr.jpg"/></a>
            </div>
            <div class="text">
                <h4 class="text-center">Skoda RAPID, 1.6MPI</h4>

                <p class="desc">This car is very economical. Extremely easy to operate</p>
            </div>
            <div class="props">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                        </div>
                    </div>
                </div>
            </div>
            <div class="price pull-right blue">
                From <span class="nobile">450</span> <span
                    class="currency-icons glyphicon glyphicon-euro"></span>

            </div>
        </div>
    </div>
</div>
    <!------>
    <div class="col-md-3 col-sm-6">
        <div class="car-container">
            <div class="car-item">
                <div class="ratio blue">
                    <span class="glyphicon glyphicon-star"></span>&nbsp;
                    <span class="glyphicon glyphicon-star"></span>&nbsp;
                    <span class="glyphicon glyphicon-star"></span>&nbsp;
                    <span class="glyphicon glyphicon-star"></span>&nbsp;
                </div>
                <div class="image-container">
                    <img class="image center-block img-responsive"
                         src="/assets/img/test_cars/logan.jpg"/>
                </div>
                <div class="text">
                    <h4 class="text-center">Renaut LOGAN</h4>

                    <p class="desc">This car is very economical. Extremely easy to operate</p>
                </div>
                <div class="props">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="text-center">
                                            <span data-toggle="tooltip" title="5 passengers"
                                                  class="glyphicon glyphicon-user"></span><br/>5
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="text-center">
                                            <span data-toggle="tooltip" title="Automat"
                                                  class="glyphicon glyphicon-ok"></span><br/>A
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="text-center">
                                            <span data-toggle="tooltip" title="Climat"
                                                  class="glyphicon glyphicon-asterisk"></span><br/>AC
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-signal"></span><br/>WiFi
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-2">
                            <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-facetime-video"></span><br/>V
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="text-center">
                                            <span data-toggle="tooltip" title="Wi-Fi"
                                                  class="glyphicon glyphicon-thumbs-up"></span><br/>69
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price pull-right blue">
                    From <span class="nobile">250</span> <span
                        class="currency-icons glyphicon glyphicon-euro"></span>

                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
</div>




</div>

</script>