<script type="text/html">
    <div class="container-fluid">
        <% _.each(objects.categories, function(category) { %>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> <%=category.name%></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <% _.each(objects.cars, function(car) {
                            if(_.contains(car.category,category.id)) {
                            %>
                            <div class="col-md-3 col-sm-6">
                                <div class="car-container">
                                    <div class="car-item">
                                        <div class="ratio <%=car.rating < 5 ? 'blue':''%>">
                                            <% for(var i = 0; i < car.rating; i++) { %>
                                            <span class="glyphicon glyphicon-star"></span>&nbsp;
                                            <% } %>
                                        </div>
                                        <a href="#/catalog/<%=car.id%>">

                                        <div class="image-container">
                                            <img class="center-block image img-responsive"
                                                 src="<%=car.image%>"/>
                                        </div>
                                        </a>
                                        <div class="text">
                                            <h4 class="text-center"><%=car.name%></h4>

                                            <p class="desc"><%=car.description%></p>
                                        </div>
                                        <div class="props">
                                            <div class="row">
                                                <% for(var j = 0; j < car.properties.length; j++) { %>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                    <div class="text-center">
                                                        <span data-toggle="tooltip"
                                                              title="<%=_.findWhere(objects.properties, {id : car.properties[j]}).shortDescription%>"
                                                              class="<%=_.findWhere(objects.properties, {id : car.properties[j]}).iconClass%>"></span><br/>
                                                        <%=_.findWhere(objects.properties, {id :
                                                        car.properties[j]}).shortValue%>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="price pull-right <%=car.rating < 5 ? 'blue':''%>">
                                            From <span class="nobile"><%=car.price%></span> <span
                                                class="currency-icons glyphicon glyphicon-euro"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }}) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</script>